@import url(/stylesheets/header.css);

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--xl-space);
  padding: var(--lg-space);
}

.cart {
  display: flex;
  row-gap: var(--xl-space);
  column-gap: var(--xxl-space);
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.bill-distribution-div{
  width: 30rem;
}

.cart-cta {
  margin-top: var(--lg-space);
}

.bill-unit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.order-counter {
  display: flex;
  column-gap: var(--md-space);
  width: 100%;
}

.cart-cards {
  display: flex;
  flex-direction: column;
  row-gap: var(--lg-space);
}

.horizontal-card {
  display: flex;
  justify-content: space-between;
  height: 22rem;
  width: 30rem;
}

.horizontal-card .card-image-container img {
  height: 100%;
  width: 100%;
}

.card-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--sm-space);
}

.block-btn {
  width: 100%;
}

.horizontal-card .card-title-header {
  padding: 0;
}

.quantity-div {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.minus,
.add {
  color: var(--black);
  outline: 1px solid var(--secondary-color);
  border-radius: 50%;
  padding: 3px 8px;
  background-color: var(--pure-white);
}

.qty-count {
  outline: none;
  width: 50px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 2px;
  background-color: var(--white);
  border: 1px solid var(--lightGrey);
  margin: 0 5px;
}

@media only screen and(max-width: 600px){
  .horizontal-card{
    width: fit-content;
  }

     .bill-distribution-div{
       width: 100%;
     }
}